{%  extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">
        <h1 style="padding-left:25px">Liste des utilisateurs</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Roles</th>
            </tr>
            </thead>
            <tbody>
            {% set nb = 0 %}
            {% for user in users %}
                {% set nb = nb + 1 %}
                <tr>
                    <td>{{ nb }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                    {% for role in user.roles %}
                        {{ role }},
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>



    </div>
    &nbsp
    &nbsp
</div>
{% endblock %}
