{%  extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">
    <h1>Hello User! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/bourm/Documents/ProjetDevWeb/ProjetCrypto/src/Controller/CryptoController.php'|file_link(0) }}">src/Controller/CryptoController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/bourm/Documents/ProjetDevWeb/ProjetCrypto/templates/crypto/index.html.twig'|file_link(0) }}">templates/crypto/index.html.twig</a></code></li>
    </ul>
    <div class="example-wrapper">
        <h1>Hello User! ✅</h1>
        {% for cryp in cryptos %}
            <li>{{ cryp.nom }}</li>
            <li>{{ cryp.symbole }}</li>
        {% endfor %}
    </div>
</div>
{% endblock %}
